* {
    margin: 0;
    padding: 0;
}
html {
    background: #353232 ;
}
body {
    font-family: 'Roboto', sans-serif;
}
header {
    text-align: right;
    border-bottom: rgb(78, 5, 145) solid 2px;
    padding: 10px;
}

header div {
    padding: 10px;
    text-align: right;
}

header div a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    line-height: 28px;
    margin: 0px 30px;
    
}
header div a:hover {
    color: rgb(78, 5, 145);
    transition: color 300ms;
}
header div img {
    float: left;
    
    
}
.image-logo img {
    display: flex;
    align-items: center;
    width: 30%;
    height: 30;
    margin: 0 auto;
    margin-top: 60px;
    opacity: 10%;
}

.writing {
    font-size: 68px;
    line-height: 78px;
    font-weight: bolder;
    text-align: right;
    color: white;
    margin-right: 10px ;
}
