{% extends "layout.njk" %}

{% block headAbout %} <link href="about.css" rel="stylesheet" > {% endblock %}

{% block content %} 

 <header>
        <a href="/courses">Conteúdos</a>
    </header>
    
    <div id="about">
       <img src="./26731144_211705696042579_7038053465160362224_n.png" alt="logo">
            <h1>Rocketseat</h1>
            <h2>Uma empresa com uma vasta experiência em treinamentos e desenvolvimentos de aplicação, usando e ensinado as melhores tenologias do mercado.
                Com um time de desenvolvedores e instrutores com experiências e habilidades dentro do mundo da programação web e mobile.
            </h2>
            <ul id="techs">
                <li id="main">PRINCIPAIS TECNOLOGIAS</li>
                <li>NODEJS</li>
                <li>REACTJS</li>
                <li>REACT NATIVE</li>
            </ul>
    </div>
            <footer id="socialMedia">
                <a href="https://github.com/Rocketseat" target="_blank">Github</a>
                <a href="https://www.instagram.com/rocketseat_oficial/" target="_blank">Instagram</a>
                <a href="https://www.facebook.com/rocketseat" target="_blank">Facebook</a>
            </footer>
  
{% endblock %}