{% extends "layout.njk" %}

{% block head %} 
    <link href="about.css" rel="stylesheet">
{% endblock%}

{% block content %} 

    <header>
        <div>
            <img src="./logo-rocketseat 1.svg" alt="logo">
            <a href="https://discordapp.com/invite/gCRAFhc" type="Comunidade" target="_blank">Comunidade</a>
            <a href="mailto:oi@rocketseat.com.br" type="email" target="_blank">Email</a>
            <a href="tel:+5547992078767" type="telefone" target="_blank">Telefone</a>
            <a href="/courses" type="sobre">Conteúdos</a>
        </div>
    </header>
    
    <div class="about">
        <img src="{{data.image}}" alt="logo">
            <h1>{{data.title}}</h1>
            <h2>{{data.description}}</h2>
    </div>
            <div class="techs">
            {% for tech in data.techs %}
                <a href="{{tech.url}}" target="_blank">{{tech.name}}</a>
            {% endfor %}
            </div>
    

    <footer id="socialMedia">
        {% for link in data.links %}
            <a href="{{link.url}}" target="_blank">{{link.name}}</a>
        {% endfor %}
    </footer>
    
 {% endblock %}
