{% extends "layout.njk" %}

{% block head %} 
<link href="course.css" rel="stylesheet"> 
{% endblock %}

{% block content %}

  <header>
      <a href="/"><img src="./logo-rocketseat 1.svg" alt="logo rocket"></a>
  </header>


    <div class="card" id="{{item.id}}">
        
        <div class="number">
            <p>{{item.number}}</p>
        </div>
        
        <div class="image">
            <img src="{{item.image}}" alt="logo starter">
        </div>
       
        <div class="content">
            <p>{{item.title}}</p>
        </div>
        
        <div class="info">
            <a href="https://www.rocketseat.com.br/{{item.id}}" class="access">Acessar</a> 
        </div>
        
    </div>

 <script src="/scripts.js"></script>
 
{% endblock %}