<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">

        <link rel="shortcut icon" href="./favicon.ico">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto&display=swap" >
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"  >

        {% block headMain %} {% endblock %}
        {% block headAbout %} {% endblock %}
        {% block headCourses %} {% endblock %}
        {% block headFound %}{% endblock %}

        <title>Rocketseat</title>

    </head>

<body>

    {% block content %} {% endblock %}


</body>

</html>
