{% extends "layout.njk" %}

{% block headMain %} 
    <link href="main.css" rel="stylesheet">
{% endblock%}

{% block content %} 

    <header>
        <div>
            <img src="./logo-rocketseat 1.svg" alt="logo">
            <a href="https://discordapp.com/invite/gCRAFhc" type="Comunidade" target="_blank">Comunidade</a>
            <a href="mailto:oi@rocketseat.com.br" type="email" target="_blank">Email</a>
            <a href="tel:+5547992078767" type="telefone" target="_blank">Telefone</a>
            <a href="/about" type="sobre">Sobre</a>
        </div>
    </header>

    <div class="image-logo">
        <img src="./logo-rocketseat.svg" alt="logo">
    </div>
    
 {% endblock %}
